---
import Main from '../layouts/main.astro';
import ClientFetchReactComponent from '../components/client-fetch-react-component';
---

<Main>
  <h1>Client fetch React Page</h1>
  <ClientFetchReactComponent client:only='react' />
</Main>
