---
import Main from '../layouts/main.astro';
import ClientFetchQwikComponent from '../components/client-fetch-qwik-component';
---

<Main>
  <a href='/'>Back</a>
  <h1>Client fetch Qwik Page</h1>
  <ClientFetchQwikComponent />
</Main>
