---
import Main from '../layouts/main.astro';
---

<Main>
  <h1>Take a Qwik Break from React with Astro</h1>
  <h2>Qwik</h2>
  <ol>
    <li><a href='/simple-qwik-page'>simple-qwik-page</a></li>
    <li><a href='/use-signal-qwik-page'>use-signal-qwik-page</a></li>
    <li><a href='/use-store-qwik-page'>use-store-qwik-page</a></li>
    <li><a href='/client-fetch-qwik-page'>client-fetch-qwik-page</a></li>
  </ol>
</Main>
