---
import Main from '../layouts/main.astro';
import UseSignalQwikComponent from '../components/use-signal-qwik-component';
---

<Main>
  <h1>useSignal Qwik Page</h1>
  <UseSignalQwikComponent />
</Main>
