---
import Main from '../layouts/main.astro';
import UseStoreQwikComponent from '../components/use-store-qwik-component';
---

<Main>
  <a href='/'>Back</a>
  <h1>useStore Qwik Page</h1>
  <UseStoreQwikComponent />
</Main>
